@charset "utf-8";
/* CSS Document */
body {
    font: Arial, Helvetica, sans-serif "宋体";
    font-size: 12px;
    margin: 0;
}

a {
    color: #0053a2;
    text-decoration: none;
}

    a:hover {
        color: #000;
    }

    a:active {
        color: #777;
    }

    a:focus {
        outline: 1px;
    }

.hidding {
    display: none;
}
