@charset "utf-8";
/* CSS Document */

div, ul, li
{
    margin: 0;
    padding: 0;
}

ul, li
{
    list-style: none;
}

.li_left
{
    clear: both;
}

    .li_left li
    {
        float: left;
        border-left: 1px solid #FF0000;
        border-top: 1px solid #FF0000;
        width: 100%;
    }

.border_right
{
    border-right: 1px solid #FF0000;
}

.border_bottom li
{
    border-bottom: 1px solid #FF0000;
}

.no-close .ui-dialog-titlebar-close
{
    display: none;
}
