
/********************************      Basic Structure      ********************************/

html {
    font-size: 100%;
    height: 100%;
    margin-bottom: 1px; /* Always show a scrollbar to avoid jumping when the scrollbar appears  */
}

body {
    font-family: Arial, Helvetica, sans-serif;
    color: #555;
    background: #f0f0f0;
    font-size: 12px;
}

#body-wrapper {
    background: url('../images/bg-radial-gradient.gif') fixed 230px top no-repeat;
}

/********************************      Elements styling      ********************************/

h1, h2, h3, h4, h5, h6 {
    font-family: Helvetica, Arial, sans-serif;
    color: #222;
    font-weight: bold;
}

h1 {
    font-family: Calibri, Helvetica, Arial, sans-serif;
    font-size: 31px;
    font-weight: bold;
    color: #fff;
    position: absolute;
    top: -1000px; /* Remove this line and delete the logo (in the HTML) if you don't want an image as a logo */
}

h2 {
    font-size: 26px;
    padding: 0 0 10px 0;
}

h3 {
    font-size: 17px;
    padding: 0 0 10px 0;
}

h4 {
    font-size: 16px;
    padding: 0 0 5px 0;
}

h5 {
    font-size: 14px;
    padding: 0 0 5px 0;
}

h6 {
    font-size: 12px;
    padding: 0 0 5px 0;
}


a {
    color: #0053a2;
    text-decoration: none;
}

    a:hover {
        color: #000;
    }

    a:active {
        color: #777;
    }

    a:focus {
        outline: 1px;
    }

strong {
    font-weight: bold;
    color: #333;
}

small {
    font-size: 0.85em;
}

pre {
    font-family: monospace;
}

p {
    padding: 5px 0 10px 0;
    line-height: 1.6em;
}

/********************************      General Classes      ********************************/

.clear {
    clear: both;
}

.align-left {
    float: left;
}

.align-right {
    float: right;
}

/************ Button ************/
.like-button {
    font-family: Verdana, Arial, sans-serif "宋体";
    display: inline-block;
    background: #0053a2 url('../images/bg-button-green.gif') top left repeat-x !important;
    border: 1px solid #0053a2 !important;
    padding: 4px 7px 4px 7px !important;
    color: #fff !important;
    font-size: 12px !important;
    cursor: pointer;
}

    .like-button:hover {
        text-decoration: underline;
    }

    .like-button:active {
        /*padding: 4px 7px 5px 7px !important;*/
    }

    .like-button:disabled {
        color: #aaa !important;
    }

.button {
    font-family: Verdana, Arial, sans-serif "宋体";
    display: inline-block;
    background: #0053a2 url('../images/bg-button-green.gif') top left repeat-x !important;
    border: 1px solid #0053a2 !important;
    padding: 4px 7px 4px 7px !important;
    color: #fff !important;
    font-size: 12px !important;
    cursor: pointer;
}

    .button:hover {
        text-decoration: underline;
    }

    .button:active {
        padding: 4px 7px 5px 7px !important;
    }

    .button:disabled {
        color: #aaa !important;
    }

a.remove-link {
    color: #bb0000;
}

    a.remove-link:hover {
        color: #000;
    }

/********************************      Sidebar      ********************************/

#sidebar {
    background: url('../images/bg-sidebar.gif') top left no-repeat;
    width: 230px;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    color: #888;
    font-size: 11px;
}

    #sidebar #sidebar-wrapper {
        margin: 0 0 0 9px;
    }

    #sidebar a,
    #sidebar a:active {
        color: #ccc;
    }

        #sidebar a:hover {
            color: #fff;
        }

    #sidebar #sidebar-title {
        margin: 40px 0 40px 15px;
    }

    #sidebar #logo {
        margin: 40px 0 40px 0;
    }

    #sidebar #profile-links {
        padding: 0 15px 20px 15px;
        text-align: right;
        line-height: 1.5em;
    }

    /************ Sidebar Accordion Menu ************/

    #sidebar #main-nav {
        width: 206px;
        padding: 0;
        margin: 0 0 0 15px;
        font-family: Helvetica, Arial, sans-serif;
    }

        #sidebar #main-nav li {
            list-style: none;
            padding-bottom: 10px;
            text-align: right;
        }

            #sidebar #main-nav li a.nav-top-item {
                background: transparent url('../images/bg-menu-item-green.gif') right center no-repeat; /* Background image for default color scheme - green */
                padding: 10px 15px;
                color: #fff;
                font-size: 14px;
                cursor: pointer;
                display: block;
                text-decoration: none;
            }

            #sidebar #main-nav li a.current {
                background-image: url('../images/bg-menu-item-current.gif') !important;
                color: #333;
                font-weight: bold;
            }

                #sidebar #main-nav li a.current:hover {
                    color: #333;
                }

        #sidebar #main-nav ul {
            padding: 0;
            font-size: 12px;
            margin: 0;
        }

            #sidebar #main-nav ul li {
                list-style: none;
                margin: 0;
                text-align: right;
                padding: 0;
            }

                #sidebar #main-nav ul li a {
                    padding: 8px 15px;
                    display: block;
                    color: #aaa;
                    font-size: 13px;
                    line-height: 1.2em;
                }

                    #sidebar #main-nav ul li a:hover,
                    #sidebar #main-nav ul li a.current,
                    #sidebar #main-nav ul li a.current:hover {
                        color: #fff;
                    }

                    #sidebar #main-nav ul li a.current {
                        background: transparent url('../images/menu-current-arrow.gif') right center no-repeat !important;
                    }


/************ Messages ************/

#messages p,
#messages form {
    border-top: 1px solid #ddd;
    padding: 10px 0;
}

#messages h4 {
    padding: 10px 0;
}

#messages fieldset {
    margin: 0;
}

#messages textarea {
    margin: 0 0 15px 0;
}
/********************************      Main Content      ********************************/

/************ Layout ************/

#main-content {
    margin: 0 5px;
    padding: 5px 0 0 0;
}

.column-left {
    width: 48%;
    float: left;
}

.column-right {
    width: 48%;
    float: right;
}

#page-intro {
    font-size: 17px;
    padding: 0 0 20px 0;
}


#footer {
    border-top: 1px solid #ccc;
    margin: 40px 0 0 0;
    padding: 20px 0;
    font-size: 12px;
}
/************ Lists ************/

#main-content ul,
#main-content ol {
    padding: 10px 0;
}

    /* Unordered List */

    #main-content ul li {
        background: url('../images/icons/bullet_black.png') center left no-repeat;
        padding: 4px 0 4px 20px;
    }

/* Ordered List */

#main-content ol {
    padding: 0 0 0 24px;
}

    #main-content ol li {
        list-style: decimal;
        padding: 4px 0;
    }

/*************** Content Box ***************/

.content-box {
    border: 1px solid #ccc;
    margin: 0 0 20px 0;
    background: #fff;
}

.content-box-header {
    background: #e5e5e5 url('../images/icons/bg-content-box.gif') top left repeat-x;
    margin-top: 1px;
    height: 40px;
}

    .content-box-header h3 {
        padding: 12px 15px 10px;
        float: left;
    }

.content-box-1 {
    border: 1px solid #ccc;
    margin: 0 0 0 0;
    background: #fff;
}

.content-box-header-1 {
    background: #f0f0f0;
    margin-top: 1px;
    height: 30px;
}

ul.content-box-tabs {
    padding: 1px 5px 0 2px !important;
    margin: 0 !important;
}

    ul.content-box-tabs li {
        float: left;
        margin: 0;
        padding: 0px !important;
        background-image: none !important;
    }

        ul.content-box-tabs li a {
            color: #333;
            padding: 8px 15px 8px 15px;
            display: block;
            margin: 1px;
            border-bottom: 0;
        }

            ul.content-box-tabs li a:hover {
                color: #0053a2;
                background: #dddada;
            }

            ul.content-box-tabs li a.current {
                background: #fff;
                border: 1px solid #ccc;
                border-bottom: 0;
                margin: 0;
            }

        ul.content-box-tabs li .ui-icon-close {
            float: right;
            margin: 0;
            cursor: pointer;
            display: block;
        }

.ui-icon-close-1 {
    float: right;
    margin: 2px 2px 0 0;
    cursor: pointer;
}

.content-box-content {
    padding: 10px;
    font-size: 13px;
    border-top: 1px solid #ccc;
}

.content-box-content-1 {
    padding: 5px;
    font-size: 13px;
    border-top: 1px solid #ccc;
}

/************ Table ************/
.table_header {
    width: 100%;
}
/*
#main-content table {
                width: 100%;
                border-collapse: collapse;
                }
                
#main-content table thead th {
                font-weight: bold;
                font-size: 12px;
                border-bottom: 1px solid #ddd;
                }
                
#main-content tbody {
                border-bottom: 1px solid #ddd;
                }
                
#main-content tbody tr {
                background: #fff;
                }
              
#main-content tbody tr.alt-row {
                background: #f3f3f3;
                }
                
#main-content table td,
#main-content table th {
                padding: 10px;
                line-height: 1.3em;
                }        
				
#main-content table tfoot td .bulk-actions {
                padding: 15px 0 5px 0;
                } 
				
#main-content table tfoot td .bulk-actions select {
                padding: 4px;
				border: 1px solid #ccc;
                }     
				
/*************** Pagination ***************/

#main-content .pagging {
    text-align: right;
    padding: 10px 0 10px 0;
    font-family: Verdana, Arial, Helvetica, sans-serif "宋体";
    font-size: 12px;
}

.pagging a {
    margin: 0 5px 0 0;
    padding: 3px 6px;
}

    .pagging a.number {
        border: 1px solid #ddd;
    }

    .pagging a.current {
        background: #0053a2 url('../images/bg-button-green.gif') top left repeat-x !important;
        border-color: #0053a2 !important;
        color: #fff !important;
    }

        .pagging a.current:hover {
            text-decoration: underline;
        }

/************ Shortcut Buttons ************/

.shortcut-button {
    border: 1px solid #ccc;
    background: #f7f7f7 url('../images/shortcut-button-bg.gif') top left no-repeat;
    display: block;
    width: 120px;
    margin: 0 0 20px 0;
}

    .shortcut-button span {
        border: 1px solid #fff;
        display: block;
        padding: 15px 10px 15px 10px;
        text-align: center;
        color: #555;
        font-size: 13px;
        line-height: 1.3em;
    }

        .shortcut-button span img {
            margin-bottom: 10px;
        }

    .shortcut-button:hover {
        background: #fff;
    }

    .shortcut-button span:hover {
        color: #0053a2;
    }

ul.shortcut-buttons-set li {
    float: left;
    margin: 0 15px 0 0;
    padding: 0 !important;
    background: 0;
}

/*************** Forms ***************/

form label {
    display: block;
    padding: 0 0 10px;
    font-weight: bold;
}

form fieldset legend {
    font-weight: bold;
    margin-bottom: 10px;
    padding-top: 10px;
}

form p small {
    font-size: 0.75em;
    color: #777;
}


form input.text-input,
form select,
form textarea,
form .wysiwyg {
    padding: 6px;
    font-size: 13px;
    background: #fff url('../images/bg-form-field.gif') top left repeat-x;
    border: 1px solid #d5d5d5;
    color: #333;
}

form .confirm-input {
    font-size: 16px !important;
    font-weight: bold;
}

form .important-input {
    border-left: 3px solid #FF0000 !important;
}

form .warring-input {
    border: 1px solid #FF0000 !important;
}

form .error-input {
    border-left: 3px solid #FF0000 !important;
    border-top: 1px solid #FF0000 !important;
    border-right: 1px solid #FF0000 !important;
    border-bottom: 1px solid #FF0000 !important;
}

form .micro-input {
    width: 20px !important;
}

form .little-input {
    width: 80px !important;
}

form .click-input {
    cursor: pointer;
}

form .date-time {
    cursor: pointer;
}

form .small-input {
    width: 25% !important;
}

form .medium-input {
    width: 50% !important;
}

form .larger-input {
    width: 75% !important;
}

form .largest-input {
    width: 97.5% !important;
    font-size: 16px !important;
    padding: 8px !important;
}

form textarea {
    width: 97.5% !important;
    font-family: Arial, Helvetica, sans-serif;
}

form select {
    padding: 4px;
    background: #fff;
}

form input[type="checkbox"],
form input[type="radio"] {
    padding: 0;
    background: none;
    border: 0;
}

/****************** Links ********************/
.tcp {
    background: url(../images/links.png) 0px -2px no-repeat;
}

.udp {
    background: url(../images/links.png) 0px -19px no-repeat;
}

.sms {
    background: url(../images/links.png) 0px -36px no-repeat;
}

.off {
    background: url(../images/links.png) 0px -53px no-repeat;
}

.blind {
    background: url(../images/links.png) 0px -71px no-repeat;
}

.fault {
    background: url(../images/links.png) 0px -90px no-repeat;
}

.unknow {
    background: url(../images/links.png) 0px -108px no-repeat;
}

.not_bind {
    background: url(../images/links.png) 0px -108px no-repeat;
}

.clickable {
    cursor: pointer;
    font-family: Verdana, Arial, sans-serif "宋体";
    display: inline-block;
    background: #0053a2 url('../images/bg-button-green.gif') top left repeat-x !important;
    border: 1px solid #0053a2 !important;
    padding: 0 7px 0 7px !important;
    margin: 0 2px 0 2px !important;
    color: #fff !important;
    font-size: 12px !important;
}

    .clickable:hover {
        text-decoration: underline;
    }

/*************** Notifications ***************/

.notification {
    position: relative;
    margin: 0 0 15px 0;
    padding: 0;
    border: 1px solid;
    background-position: 10px 11px !important;
    background-repeat: no-repeat !important;
    font-size: 13px;
    width: 99.8%;
}


.attention {
    background: #fffbcc url('../images/icons/exclamation.png') 10px 11px no-repeat;
    border-color: #e6db55;
    color: #666452;
}

.information {
    background: #dbe3ff url('../images/icons/information.png');
    border-color: #a2b4ee;
    color: #585b66;
}

.success {
    background: #d5ffce url('../images/icons/tick_circle.png');
    border-color: #9adf8f;
    color: #556652;
}

.error {
    background: #ffcece url('../images/icons/cross_circle.png');
    border-color: #df8f8f;
    color: #665252;
}

.notification div {
    display: block;
    font-style: normal;
    padding: 10px 10px 10px 36px;
    line-height: 1.5em;
}

.notification .close {
    color: #990000;
    font-size: 9px;
    position: absolute;
    right: 5px;
    top: 5px;
}

.notification span {
    padding: 0 10px 0 0;
}

    .notification span:hover {
        cursor: pointer;
        text-decoration: underline;
    }

/* Notification for form inputs */

.input-notification {
    background-position: left 2px;
    background-repeat: no-repeat;
    padding: 2px 0 2px 22px;
    background-color: transparent;
    margin: 0 0 0 5px;
}

/* Notification for login page */

#login-wrapper #login-content .notification {
    border: 0;
    background-color: #141414;
    color: #fff !important;
}

/********************************      Login Page      ********************************/

body#login {
    color: #fff;
    background: #222 url('../images/bg-login.gif');
}

#login-wrapper {
    background: url('../images/bg-login-top.png') top left repeat-x;
}

    #login-wrapper #login-top {
        width: 100%;
        padding: 140px 0 50px 0;
        text-align: center;
    }

    #login-wrapper #login-content {
        text-align: left;
        width: 300px;
        margin: 0 auto;
    }

        #login-wrapper #login-content label {
            color: #fff;
            font-weight: normal;
            font-size: 14px;
            font-family: Helvetica, Arial, sans-serif;
            float: left;
            width: 70px;
            padding: 0;
        }

        #login-wrapper #login-content input {
            width: 200px;
            float: right;
            margin: 0 0 20px 0;
            border: 0;
            background: #fff;
        }

        #login-wrapper #login-content p {
            padding: 0;
        }

            #login-wrapper #login-content p#remember-password {
                float: right;
            }

                #login-wrapper #login-content p#remember-password input {
                    float: none;
                    width: auto;
                    border: 0;
                    background: none;
                    margin: 0 10px 0 0;
                }

            #login-wrapper #login-content p .button {
                width: auto;
                margin-top: 20px;
            }

/********************************      jQuery plugins styles      ********************************/

.table_header {
    height: 30px;
    border: 1px solid #dddada;
    background: #f0f0f0;
    padding: 3px;
    vertical-align: middle;
}

.table_header_line {
    height: 2px;
    background: #f0f0f0;
}

.table_header1 {
    height: 30px;
    border-left: 1px solid #dddada;
    border-top: 1px solid #dddada;
    border-bottom: 1px solid #dddada;
    background: #f0f0f0;
    padding: 3px;
    vertical-align: middle;
}

.table_content {
    height: 24px;
    padding: 3px;
    vertical-align: middle;
    border-left: solid 1px #dddada;
    border-right: solid 1px #dddada;
    border-bottom: solid 1px #dddada;
}

.table_center {
    text-align: center;
}

.td_right {
    text-align: right;
    padding: 3px;
    vertical-align: middle;
    width: 11%;
}

.td_left {
    text-align: left;
    padding: 3px;
    vertical-align: middle;
    width: 30%;
}

.align_left {
    text-align: left;
    padding: 3px;
    vertical-align: middle;
}

.align_right {
    text-align: right;
    padding: 3px;
    vertical-align: middle;
    width: 100px;
}

th {
    height: 20px;
    padding: 3px;
    vertical-align: middle;
    background: #f0f0f0;
}

tbody td {
    height: 20px;
    padding: 3px;
    vertical-align: middle;
}

tfoot td {
    border-top: 1px solid #dddada;
}
