<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="SERVER_PORT" value="31875"/>
    <add key="MQTT_SERVER_ID" value="everdigm_wbs_server"/>
    <!--本地文件相关-->
    <add key="EXCEL_PATH" value="E:\Work\Mongolia\Everdigm\Wbs.Everdigm.Web\Wbs.Everdigm.Web\files\"/>
    <add key="EXCEL_TMS" value="shop.order.TMS.installation.xlsx"/>
    <add key="EXCEL_WORKTIME" value="equipment.daily.work.time.xlsx"/>
    <add key="EXCEL_EQUIPMENTS" value="everdigm.equipment.list.xlsx"/>
    <add key="EXCEL_TERMINALS" value="everdigm.terminal.list.xlsx"/>
    <add key="WEB_PATH" value="E:\Work\Mongolia\Everdigm\Wbs.Everdigm.Web\Wbs.Everdigm.Web\"/>
    <!--Google地图相关配置-->
    <add key="FETCH_MAP_URL" value="http://tms.everdigm.com/google_map.aspx?key="/>
    <add key="GOOGLE_API_KEY" value="AIzaSyA3ZyjLQqMHZ7jtuVmCxbK11r86K2UuNLM"/>
    <add key="FETCHING_ADDRESS_INTERVAL" value="5"/>
    <!--铱星服务器配置相关-->
    <add key="IRIDIUM_SERVER" value="12.47.179.12"/>
    <add key="IRIDIUM_PORT" value="10800"/>
    <!--铱星方式发送命令之后的超时清理时间-->
    <add key="IRIDIUM_MT_TIMEOUT" value="80"/>
    <!--发送SMS消息相关配置-->
    <add key="SMSContent" value="_content_"/>
    <add key="SMSMobile" value="_mobile_"/>
    <add key="SendSMS64" value="http://sms.unitel.mn/sendSMS64.php?uname=Everdigm#upass=CdPrcfVenFDqqa3RU2f3#sms=_content_#from=131311#mobile=_mobile_"/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
  </appSettings>
  <connectionStrings>
    <add name="EverdigmDatabaseConnectionString" connectionString="Data Source=.;Initial Catalog=GPSSYSTEM;Persist Security Info=True;User ID=wbs_user;Password=www.wanbangsoftware.com" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
  </startup>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
</configuration>
