<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="SERVER_PORT" value="31875"/>

    <!--Google地图相关配置-->
    <add key="FETCH_MAP_URL" value="http://tms.everdigm.mn/google_map.aspx?key="/>
    <add key="GOOGLE_API_KEY" value="AIzaSyA3ZyjLQqMHZ7jtuVmCxbK11r86K2UuNLM"/>

    <!--铱星服务器配置相关-->
    <add key="IRIDIUM_SERVER" value="12.47.179.12"/>
    <add key="IRIDIUM_PORT" value="10800"/>
    <!--铱星方式发送命令之后的超时清理时间-->
    <add key="IRIDIUM_MT_TIMEOUT" value="80"/>

    <!--发送SMS消息相关配置-->
    <add key="SMSContent" value="_content_"/>
    <add key="SMSMobile" value="_mobile_"/>
    <add key="SendSMS64" value="http://sms.unitel.mn/sendSMS64.php?uname=Everdigm#upass=CdPrcfVenFDqqa3RU2f3#sms=_content_#from=131311#mobile=_mobile_"/>
  </appSettings>
  <connectionStrings>
    <add name="EverdigmDatabaseConnectionString" connectionString="Data Source=.;Initial Catalog=GPSSYSTEM;Persist Security Info=True;User ID=wbs_user;Password=www.wanbangsoftware.com" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
