<?xml version="1.0"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <appSettings>
    <!--设定是否保存异常信息到系统日志-->
    <add key="EventLogStatus" value="0"/>
    <!--日志类型为应用程序(Application)-->
    <add key="EventName" value="Application"/>
    <!--网络服务系统日志的标题-->
    <add key="SocketEventName" value="Wbs Socket Event Log"/>
    <!--系统服务日志的标题-->
    <add key="ServiceEventName" value="Wbs Service Event Log"/>
    <!--服务器端口-->
    <add key="SERVER_PORT" value="31875"/>
    <!--新浪上判断ip来源的接口-->
    <add key="SINA_IP_SOURCES" value="http://int.dpool.sina.com.cn/iplookup/iplookup.php?format=json#ip="/>
    <!--Google 地图URL-->
    <add key="GoogleMapsURL_CHINA" value="http://ditu.google.cn/"/>
    <add key="GoogleMapsURL_ALL" value="http://maps.google.com/"/>
    <add key="GoogleMapsStatic" value="https://maps.googleapis.com/maps/api/staticmap?center=_center_#zoom=13#size=_size_#key=AIzaSyA3ZyjLQqMHZ7jtuVmCxbK11r86K2UuNLM#sensor=true_or_false#language=en-us#format=png#scale=1#markers=color:blue|_center_"/>
    <!--发送SMS消息相关配置-->
    <add key="SMSContent" value="_content_"/>
    <add key="SMSMobile" value="_mobile_"/>
    <add key="SendSMS64" value="http://sms.unitel.mn/sendSMS64.php?uname=Everdigm#upass=CdPrcfVenFDqqa3RU2f3#sms=_content_#from=131311#mobile=_mobile_"/>
    <!--发命令模板-->
    <!--普通命令列表-->
    <add key="Custom_Commands" value="Terminal: Signal data|signal|DD00,Terminal: Position data|position|1000,Equipment: Monitor data|monitor|6000,Equipment: Fault information|fault|6001,Equipment: Worktime data|worktime|6004,Loader: Worktime|ld_worktime|6004_,Loader: Worktime initial|ld_initial|600B,Loader: Daily runtime|ld_daily|600C"/>
    <!--保安命令列表-->
    <add key="Security_Commands" value="Security: Unlock|enable|00,Security: Lock|full|40,Loader: Lock|ldlock|0F,Loader: Unlock|ldunlock|F0,Satellite: Enable|satenable|01,Satellite: Disable|satdisable|00,Terminal: Reset to Satellite|reset_sat|30,Terminal: Reset to SMS|reset_gsm|20"/>
    <add key="0x1000" value="12002014001010FFFF013953598693010100"/>
    <add key="0x3000" value="1300201E003010FFFF0139535986930101F000"/>
    <add key="0x4000" value="1300201E004010FFFF01395359869301013000"/>
    <add key="0x6000" value="11002014006010FFFF0139535986930101"/>
    <add key="0x6001" value="11002014016010FFFF0139535986930101"/>
    <add key="0x6003" value="11002014036010FFFF0139535986930101"/>
    <add key="0x6004" value="11002014046010FFFF0139535986930101"/>
    <add key="0x6004_" value="1100201E046010FFFF0139535986930101"/>
    <add key="0x6005" value="11002014056010FFFF0139535986930101"/>
    <add key="0x6006" value="11002014066010FFFF0139535986930101"/>
    <add key="0x6007" value="12002014076010FFFF0139535986930101"/>
    <add key="0x600B" value="1500201E0B6010FFFF013953598693010100000000"/>
    <add key="0x600C" value="1100201E0C6010FFFF0139535986930101"/>
    <add key="0x7010" value="12002030107010FFFF013953598693010100"/>
    <add key="0x7010_" value="26002030107010FFFF0139535986930101FF0500B4050409000A8D8002837C06106573056281"/>
    <add key="0xBB00" value="1400201400BB10FFFF0139535986930101000000"/>
    <add key="0xDD00" value="1300201400DD10FFFF013953598693010100"/>
    <add key="0xDD00_" value="3100201400DD10FFFF0139535986930101FF1E003C000D00280000000000000000000006837C0A8D800206106573056281"/>
    <add key="0xDD02" value="1500200A02DD10FFFF013953598693010100000000"/>
    <add key="SATELLITE_SERVER" value="306614"/>
    <!--设定列表显示时页大小-->
    <add key="PageSize" value="10"/>
    <!--左侧菜单项宽度-->
    <add key="MenuAreaWidth" value="220,*"/>
    <add key="TopAreaHeight" value="105,*,21"/>
    <!--是否自动发送卫星Enable/Disable命令-->
    <add key="SatelliteControl" value="0"/>
    <!--是否自动生成Sim卡号-->
    <add key="AutoSimCardNumber" value="1"/>
  </appSettings>
  <connectionStrings>
    <!--数据库连接字符串-->
    <add name="EverdigmDatabaseConnectionString" connectionString="Data Source=.;Initial Catalog=GPSSYSTEM;Persist Security Info=True;User ID=wbs_user;Password=www.wanbangsoftware.com" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <!--
    有关 web.config 更改的说明，请参见 http://go.microsoft.com/fwlink/?LinkId=235367。

    可在 <httpRuntime> 标记上设置以下特性。
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <sessionState mode="InProc" timeout="120"/>
    <compilation debug="true" targetFramework="4.5"/>
    <httpRuntime/>
    <pages controlRenderingCompatibilityVersion="4.0"/>
  </system.web>
  <system.webServer>
    <staticContent>
      <remove fileExtension=".woff"/>
      <mimeMap fileExtension=".woff" mimeType="application/x-font-woff"/>
      <remove fileExtension=".ttf"/>
      <mimeMap fileExtension=".ttf" mimeType="font/truetype"/>
      <remove fileExtension=".otf"/>
      <mimeMap fileExtension=".otf" mimeType="font/opentype"/>
      <remove fileExtension=".eot"/>
      <mimeMap fileExtension=".eot" mimeType="application/vnd.ms-fontobject"/>
    </staticContent>
  </system.webServer>
</configuration>