<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <appSettings>
    <!--set the data source-->
    <add key="Host" value="wbs"/>
    <!--setting the barcode printer's name. ex(like below): \\(server name) or (ip)\\(shared printer name)-->
    <add key="PrinterName" value="\\10.141.129.26\TSC TTP-243E"/>
    
    <!--set the test label informations-->
    <add key="TEST_LABEL_IMEI" value="300234061921382"/>
    <add key="TEST_LABEL_PCB" value="20150802001"/>
    <add key="TEST_LABEL_FW" value="1.02"/>
    <add key="TEST_LABEL_MFD" value="2015/12/01"/>
    <add key="TEST_LABEL_RV" value="9-32VDC 1A ="/>
    <add key="TEST_LABEL_MF" value="TnR(Korea)"/>

    <!--set label static size. unit: mm-->
    <add key="IririumLabelWidth" value="74"/>
    <add key="IririumLabelHeight" value="45"/>

    <!--set the print line position. unit: bounds-->
    <add key="IririumIMEI_x" value="15"/>
    <add key="IririumIMEI_y" value="290"/>

    <add key="IririumPCB_x" value="-30"/>
    <add key="IririumPCB_y" value="250"/>

    <add key="IririumFW_x" value="-120"/>
    <add key="IririumFW_y" value="220"/>

    <add key="IririumMFD_x" value="-55"/>
    <add key="IririumMFD_y" value="185"/>

    <add key="IririumRV_x" value="-25"/>
    <add key="IririumRV_y" value="150"/>

    <add key="IririumMF_x" value="-50"/>
    <add key="IririumMF_y" value="115"/>

    <add key="IririumBAR_x" value="20"/>
    <add key="IririumBAR_y" value="20"/>
    
    <!--terminal label size-->
    <add key="TerminalLabelWidth" value="90"/>
    <add key="TerminalLabelHeight" value="50"/>
    
    <!--terminal label line position-->
    <add key="TerminalProductNo_x" value="-75"/>
    <add key="TerminalProductNo_y" value="272"/>
    <add key="TerminalProductNo" value="EX100"/>

    <add key="TerminalModel_x" value="-75"/>
    <add key="TerminalModel_y" value="238"/>
    <add key="TerminalModel" value="EX100"/>

    <add key="TerminalNumber_x" value="-20"/>
    <add key="TerminalNumber_y" value="205"/>

    <add key="TerminalSimCard_x" value="-45"/>
    <add key="TerminalSimCard_y" value="173"/>

    <add key="TerminalMFD_x" value="-30"/>
    <add key="TerminalMFD_y" value="140"/>

    <add key="TerminalRV_x" value="85"/>
    <add key="TerminalRV_y" value="108"/>
    <add key="TerminalRV" value="12V/24V, 40mA~60mA"/>

    <add key="TerminalMF_x" value="100"/>
    <add key="TerminalMF_y" value="75"/>
    <add key="TerminalMF" value="Yantai, Shandong, China"/>

    <add key="TerminalBAR_x" value="0"/>
    <add key="TerminalBAR_y" value="0"/>
  </appSettings>
</configuration>
