<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
  </startup>
  <appSettings>
    <!--set the data source-->
    <add key="Host" value="everdigm"/>
    <!--setting the barcode printer's name. ex(like below): \\(server name) or (ip)\\(shared printer name)-->
    <add key="PrinterName" value="\\10.141.129.26\TSC TTP-244 Pro"/>
    
    <!--set the test label informations-->
    <add key="TEST_LABEL_IMEI" value="300234061921382"/>
    <add key="TEST_LABEL_PCB" value="20150802001"/>
    <add key="TEST_LABEL_FW" value="1.02"/>
    <add key="TEST_LABEL_MFD" value="2015/12/01"/>
    <add key="TEST_LABEL_RV" value="9-32VDC 1A ="/>
    <add key="TEST_LABEL_MF" value="TnR(Korea)"/>

    <!--set label static size. unit: mm-->
    <add key="LabelWidth" value="74"/>
    <add key="LabelHeight" value="45"/>

    <!--set the print line position. unit: bounds-->
    <add key="IMEI_x" value="15"/>
    <add key="IMEI_y" value="270"/>
    
    <add key="PCB_x" value="-30"/>
    <add key="PCB_y" value="230"/>
    
    <add key="FW_x" value="-120"/>
    <add key="FW_y" value="200"/>
    
    <add key="MFD_x" value="-55"/>
    <add key="MFD_y" value="165"/>
    
    <add key="RV_x" value="45"/>
    <add key="RV_y" value="130"/>
    
    <add key="MF_x" value="-50"/>
    <add key="MF_y" value="90"/>
    
    <add key="BAR_x" value="20"/>
    <add key="BAR_y" value="20"/>
  </appSettings>
</configuration>
